.bg{
     display: grid;
     padding: 0;
     margin: 0;
}
.img1{
    position: absolute;
    right: 0;
    left: 0;
    
    width: 100%;
    
    
}
.img2{
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    
    padding: 0;
    margin-top: 40px;
    width: 100%;
    
}
.h4{
    z-index: 1;
    color: #FFFFFF;
    
    font-size: 35px;
}
.span{
    font-weight: bold;
    font-size: 40px;
}
.btn{
    
    z-index: 1;
}
.button{
    background-color: white;
    color: #EE4248;
    border: none;
    border-radius: 4px;
    z-index: 1;
    width: 153px;
    height: 36px;
}
.img3{
    z-index: 1;
    margin: 100px 0;
    
}
.img4{
    width: 100%;
    
}
.section{
    justify-content: space-between;
    text-align: start;
    margin: 100px 102px;
    
}
.h44{
    max-width: 520px;
    min-width: 300px;
    padding: 0;
    margin: 0;
    color: #060707;
    font-size: 40px;
    height: auto;
    font-weight: normal;
}
.p{
    color: #30444E;
    font-weight: 600;
    line-height: 25px;
}
@media(max-width:1100px){
    .button{
        display: none;
    }
    .img3{
        z-index: 1;
        margin: 0px 0;
        width: 60%;
        
    }
    
}
@media(max-width:600px){
    .h4{
        z-index: 1;
        color: #FFFFFF;
        
        font-size: 20px;
    }
    .span{
        font-weight: bold;
        font-size: 25px;
    }
    .section{
        justify-content: space-between;
        text-align: start;
        margin: 40px 40px;
        
    }
    .img1{
        position: absolute;
        right: 0;
        left: 0;   
    }
    .img2{
        position: absolute;
        z-index: -1;
        right: 0;
        left: 0;
        
        padding: 0;
        margin-top: 40px;
    }
    .img4{
        width: 100%;
        margin-top: 50px;
        
    }
}